<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body>
        <section class="main-content" role="main">
        <% include partials/menu.ejs %>
        </section>
       <% include partials/scriptsTags.ejs %>
    </body>
</html>