<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <% include partials/header.ejs %>
    <div class="hero"><img src="/images/hero-image.jpg" alt=""></div>
    <!-- //banner -->
    <div id="modal-lead"></div>
    <div class="info">
        <div class="container">
            <div class="row">
                <div class="col-md-4 info-item">
                    <img src="/src/images/delivery-truck.svg" alt="" />
                    <div class="label">Envio pelos correios <br> <small>para todo o Brasil</small> </div>
                </div>
                <div class="col-md-4 info-item">
                    <img src="/src/images/cards.svg" alt="">
                    <div class="label">Pague em até 5x <br> <small>com todos os cartões de crédito</small> </div>
                </div>
                <div class="col-md-4 info-item">
                    <img src="/src/images/lock.svg" alt="">
                    <div class="label"> Site Seguro <br> <small>Protegemos seus dados</small> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social">
        <div class="container">
            <div class="social-box">

                <ul class="social-nav model-3d-0 footer-social social two">
                    <li>
                        <a href="https://www.facebook.com/MUSE-SHOP-321184335217737/" target="_blank" class="facebook">
                            <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/museshopbr?igshid=1rj3u2agmaozl" target="_blank"
                            class="instagram">
                            <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="def-100 center m-bottom-60">
        <h2>PRODUTOS EM DESTAQUE</h2>
    </div>
    <section class="products">
        <div class="container">
            <div id="products" class="def-100"></div>
        </div>
    </section>

    <!-- //top products -->
    <!--//banner -->
    <script>
        window.counter = 6;
    </script>
    <% include partials/footer.ejs %>
    <% include partials/react_ui.ejs %>
</body>

</html>