<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <% include partials/head.ejs %>

</head>

<body>
    <% include partials/header.ejs %>

    <!-- //banner_inner -->
    <div id="login"></div>
    <!-- scripts -->

    
    <!-- scripts -->
        <% include partials/react_ui.ejs %>
        <script type="text/javascript">
            window.onload = function () {
                document.getElementById("loading").remove();
            }
        </script>
  
</body>
</html>