<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <% include partials/header_internal.ejs %>
	<!-- //banner -->
	<!-- top Products -->
    <div class="ads-grid_shop">
    
    </div>
        <!--//banner -->
    <% include partials/footer.ejs %>
</body>
</html>