<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <% include partials/head.ejs %>


</head>

<body>
    <% include partials/header.ejs %>

    <div id="signup"></div>
    <!-- scripts -->
    <div id="root"></div>
    <script type="text/javascript">
        window.onload = function () {
            document.getElementById("loading").remove();
        }
    </script>
    <% include partials/react_ui.ejs %>

</body>

</html>