<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" href="/css-app/products.css">
</head>

<body>
    <% include partials/header_internal.ejs %>
    <!-- //banner -->
    <div class="single-product">

    </div>

    <% include partials/footer.ejs %>
    <% include partials/react_ui.ejs %>

</body>

</html>