<footer id="colophon" class="site-footer">
	<div class="footer_agileinfo_w3">
		<div class="footer_inner_info_w3ls_agileits">
			<div class="col-md-3 footer-left">
				<h2><a href="/">M U S E</a></h2>
				<p>Lorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.
				</p>
				<ul class="social-nav model-3d-0 footer-social social two">
					<li>
						<a href="facebook.com/museshop" class="facebook">
							<div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
							<div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
						</a>
					</li>
					<li>
						<a href="instagram.com/museshop" class="instagram">
							<div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
							<div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-9 footer-right">
				<div class="sign-grds">
					<div class="col-md-4 sign-gd">
						<h4>Sobre <span>nós</span> </h4>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/about">Sobre a loja</a></li>
							<li><a href="/contato">Contato</a></li>
						</ul>
					</div>

					<div class="col-md-5 sign-gd-two">
						<h4>Saiba <span> mais</span></h4>
						<div class="address">
							<div class="address-grid">
								<div class="address-left">
									<i class="fa fa-phone" aria-hidden="true"></i>
								</div>
								<div class="address-right">
									<h6>Telefone</h6>
									<p>51 989-063-780</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="address-grid">
								<div class="address-left">
									<i class="fa fa-envelope" aria-hidden="true"></i>
								</div>
								<div class="address-right">
									<h6>Email</h6>
									<p>Email :<a href="mailto:museshop@email.com.br"> contato@museshop.com.br</a></p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>

			<p class="copy-right-w3ls-agileits">&copy 2019 MUSE. All rights reserved | Developed by <a
					href="http://elysiam.com.br" target="_blank"> { Elysiam } </a></p>
		</div>
	</div>
	<!-- //footer -->
	<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;">
		</span></a>
	<% include scriptsTags.ejs %>
</footer>