<div class="load-wrapp" id="loading">
    <div class="load-1">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div> 
<header class="header">
        <div class="container">
            <div class="header_content"><a href="/" class="logo"><img src="/images/logo.svg" alt=""></a>
                <div class="nav-options">
                    <div id="profile" class="btn-wrapper"></div>
                    <div id="cart" class="btn-wrapper btn_cart-box"></div>
                    <div id="search-btn" class="btn-wrapper"></div>
                    <div id="menu-nav" class="btn-wrapper"></div>
                </div>
            </div>
        </div>
    </header>
<div id="root"></div>