
<title>
    Muse Shop
</title>
<link rel="stylesheet" type="text/css" href='./src/css/about.css'>
<link rel="stylesheet" type="text/css" href='./src/css/bootstrap.css'>
<link rel="stylesheet" type="text/css" href='./src/css/checkout.css'>
<link rel="stylesheet" type="text/css" href='./src/css/contact.css'>
<link rel="stylesheet" type="text/css" href='./src/css/creditly.css'>
<link rel="stylesheet" type="text/css" href='./src/css/jquery-ui1.css'>
<link rel="stylesheet" type="text/css" href='./src/css/flexslider.css'>
<link rel="stylesheet" type="text/css" href='./src/css/font-awesome.css'>
<link rel="stylesheet" type="text/css" href='./src/css/shop.css'>
<link rel="stylesheet" type="text/css" href='./src/css/style.css'>
<link rel="stylesheet" type="text/css" href='./src/css/style7.css'>
