
           
        <div class="menu">
            <a href="" class="menu__logo">
                <img src="./src/images/cryptonix/combined-shape-6.svg" alt="">
            </a>
            <ul id="menu" class="menu-list">
                
            </ul>
            <div class="message">
                <a class="message__icon" href="">
                    <img src="./src/images/message.svg" alt="">
                </a>
            </div>
        </div>