<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>
    <!-- /navbar -->
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <% include ../partials/sidebar %>
                </div>
                <!--/.span3-->
                <div class="span9">
                    <div class="content">
                        <div class="module">
                            <div class="module-head">
                                <h3>Novo Produto</h3>
                            </div>
                            <div class="module-body">
                                <form class="form-horizontal row-fluid" id="newProduct" method="POST" action="/admin/new-product" >
                                    <div class="control-group">
                                        <label class="control-label" for="basicinput">Nome</label>
                                        <div class="controls">
                                            <input type="text" id="basicinput" name="nome" placeholder="Digite o nome do produto" class="span8">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="basicinput">Fornecedor</label>
                                        <div class="controls">
                                            <input type="text" id="basicinput" name="fornecedor" placeholder="Digite o fornecedor do produto" class="span8">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="basicinput">Ficha Tecnica</label>
                                        <div class="controls">
                                            <div class="input-prepend">
                                                <span class="add-on">#</span>
                                                <input class="span8" type="text" name="altura" placeholder="Altura">
                                            </div>
                                            <div class="input-prepend">
                                                <span class="add-on">#</span>
                                                <input class="span8" type="text" name="largura" placeholder="Largura">
                                            </div>
                                            <div class="input-prepend">
                                                <span class="add-on">#</span>
                                                <input class="span8" type="text" name="peso" placeholder="Peso">
                                            </div>
                                            <div class="input-prepend m-top-30">
                                                <span class="add-on">#</span>
                                                <input class="span8" type="text" name="profundidade" placeholder="Profundidade">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="basicinput">Valor de Compra</label>
                                        <div class="controls">
                                            <div class="input-append">
                                                <input type="text" placeholder="5.000" name="valorCompra" class="span8"><span class="add-on">$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="basicinput">Valor de Venda</label>
                                        <div class="controls">
                                            <div class="input-append">
                                                <input type="text" placeholder="5.000" name="valorVenda" class="span8"><span class="add-on">$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="basicinput">Imagens</label>
                                        <button id="upload_widget" class="cloudinary-button">Upload files</button>

                                            <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>  

                                            <script type="text/javascript">  
                                            function showUploadWidget() {
                                                cloudinary.openUploadWidget({
                                                    cloudName: "lucaspedroso",
                                                    uploadPreset: "tb3la6jd",
                                                    sources: [
                                                        "local",
                                                        "url",
                                                        "camera"
                                                    ],
                                                    showAdvancedOptions: false,
                                                    cropping: false,
                                                    multiple: false,
                                                    defaultSource: "local",
                                                    styles: {
                                                        palette: {
                                                            window: "#FFFFFF",
                                                            windowBorder: "#90A0B3",
                                                            tabIcon: "#0078FF",
                                                            menuIcons: "#5A616A",
                                                            textDark: "#000000",
                                                            textLight: "#FFFFFF",
                                                            link: "#0078FF",
                                                            action: "#FF620C",
                                                            inactiveTabIcon: "#0E2F5A",
                                                            error: "#F44235",
                                                            inProgress: "#0078FF",
                                                            complete: "#20B832",
                                                            sourceBg: "#E4EBF1"
                                                        },
                                                        fonts: {
                                                            default: null,
                                                            "'Fira Sans', sans-serif": {
                                                                url: "https://fonts.googleapis.com/css?family=Fira+Sans",
                                                                active: true
                                                            }
                                                        }
                                                    }
                                                },
                                                (err, info) => {
                                                if (!err) {    
                                                    console.log("Upload Widget event - ", info);
                                                    if(info.info.secure_url){
                                                        console.log('loading another')
                                                        console.log(info.info.url)
                                                        $('.image__hiden').val(info.info.url)
                                                        console.log('end another')
                                                    }
                                                }
                                                });
                                                }
                                            document.getElementById("upload_widget").addEventListener("click", function(){
                                                showUploadWidget()
                                            }, false);
                                            </script>
                                            <input type="hidden" name="images" value="" class="image__hiden"/>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <textarea class="span8" name="obs" rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <button type="submit" class="btn">Submit Form</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--/.content-->
                </div>
                <!--/.span9-->
            </div>
        </div>
        <!--/.container-->
    </div>
    <!--/.wrapper-->
    <% include ../partials/footer %>
</body>
</html>